.hero {
  height: 75vh;
  padding: 10px;
  background: url("../img/header-bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  
  &--content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-transform: uppercase;

    h2 {
      font-size: 4rem;
      line-height: 100px;
      padding-top: 10px;
      padding-bottom: 30px;
    }

    h4 {
      font-size: 2rem;
      font-family: 'Roboto Slab', serif;
      font-weight: 100;
      font-style: italic;
    }

    button {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 20px 30px;
      font-family: 'Biryani', sans-serif;
      background-color: #fed136;
      color: white;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
    }

    @media (max-width: 600px) {
      h2 {
        font-size: 2rem;
        line-height: 50px;
      }

      h4 {
        font-size: 1.5rem;
      }

      button {
        font-size: 1rem;
      }
    }
  }
}