/** Navbar **/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 75px;

  h1 {
    font-family: 'Kaushan Script', cursive;
    color: #fed136;
    font-weight: 100;
    font-size: 2rem;
  }
  
  .desk-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    
    li {
      font-family: 'Biryani', sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      color: #fff;
      padding: 5px;
      margin: 0 10px;
      cursor: pointer;

      &:hover {
        color: #fed136;
      }
    }
  }

  .mobile-nav-btn {
    cursor: pointer;
    display: none;
    color: white;
    background-color: #fed136;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 5px;
    font-size: 10px;

    &__ham {
      width: 10px;
      margin-left: 5px;
    }
  }

  @media (max-width: 775px) {
    background-color: #212529;
    height: 50px;

    h1 {
      font-size: 1.5rem;
    }

    .desk-nav {
      display: none;
    }

    .mobile-nav-btn {
      display: flex;
      align-items: center;
    }
  }
}

.mobile-nav {
  display: none;
  overflow: hidden;
  color: white;
  background-color: #212529;
  height: 0;
  transition: height 300ms ease-in;
  
  &--open {
    height: 185px;
  }

  &--menu {
    padding: 10px;

    li {
      font-family: 'Biryani', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      padding: 2px;

      &:hover {
        color: #fed136;
      }
    }
  }

  @media (max-width: 775px) {
    display: block;
  }
}